{% extends 'base.html' %}

{% block title %}
    Login |
{% endblock title %}


{% block content %}
    <main>
        <div class="narrow-form">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button">Login</button>
            </form>
        </div>
    </main>
{% endblock content %}