{% extends 'base.html' %}

{% block title %}
    New Task |
{% endblock title %}

{% block content %}
    <main>
        <div class="narrow-form">
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}